.container{
    width: 100%;
    margin-right: 0px;
 }

 .icon-port{
    display: flex;
}

.nav-bar{
    width: 100%;
}
nav{
    padding: 0px;
    margin-top: 10px;
    text-align: center;
    margin-left: 500px;
    margin-right: 0px;
    position: fixed;
    height: 80px;
}

ul {
    list-style-type: none;
    padding: 0;
  }

  /* Style for horizontal list items */
  li {
    display: inline-block;
    margin-right: 10px; /* Add some spacing between list items */
  }

.head{
    display: flex;
}

.head-image{
    flex: 1;
    border: 1px solid;
    padding: 0;
    object-fit: fill;
}


.head-image{
    transition: background .3s;
  }
  
  .head h1:hover{
    background: #2d3250;
    transform: scale(1.1); /* Increase the size on hover */
  }

  .head h2:hover{
    background: #2d3250;
    transform: scale(1.1); /* Increase the size on hover */
  }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.head h1 {
    animation: fadeIn 1.5s ease-out; /* Adjust duration and easing as needed */
}
.head-body{
    flex: 2;
    text-align: center;
    margin-left: 50px;
    height: 400px;
    color:#ffff;
    text-size-adjust: 70px;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}


.body{
    width: 100%;
    color:#ffff;
  }
  
section{
    height: 96vh;
    padding: 80px;
  }
  

/* Apply animation to each section */
.section {
    animation: fadeIn 1.5s ease-out; /* Adjust duration and easing as needed */
}

.about{
    margin-left: 20px;
  }

.about-body-sub1{
    display: flex;
}

.about-text1{
    flex: 1;
    background-position: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #2d3250;
    border-radius: 30px;
    border-style:after;
  }
.about-text1:hover{
    background:#676f9d; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
  }
.about-image1{
    flex: 1;
  }
.about-body-sub2{
    display: flex;
}
.about-text2{
    flex: 1;
    background-position: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #2d3250;
    border-radius: 30px;
    border-style:after;
  }
.about-text2:hover{
    background:#676f9d; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
  }
.about-image2{
    flex: 1;
    margin-left: 10px;
}


.Education{
    background-position: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    border-style: groove;
    background-color:#2d3250;
    border:#2d3250;
    text-align: center;
  }

.work1{
    display: flex;
    border: #676f9d;
    background-color: #676f9d;
    border-radius: 30px;
    
}
.uty-image1{
    flex: 1;
}

.year1{
    width: 100%;
    flex: 1;
}
.first-uty{
    flex: 2;
    width: 100%;
    align-items: right;
}

.work1:hover{
    background: #676f9d;
    transition: all 0.3s ease;
}
.work2{
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 50px;
    border: #676f9d;
    background-color: #676f9d;
    border-radius: 30px;
}

.second-uty{
    flex: 2;
    width: 100%;
    align-items: right;
}

.year2{
    flex: 1;
    width: 100%;
}


.uty-image2{
    flex: 1;
    margin-right: 10px;
    
}

.work3{
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 50px;
    border: #676f9d;
    background-color: #676f9d;
    border-radius: 30px;
}
.uty-image3{
    flex: 1;
}
.year3{
    width: 100%;
    flex: 1;
}

.third-uty{
    flex: 2;
    width: 100%;
    align-items: right;
}
.work1:hover{
    background:#676f9d; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
  }

.work2:hover{
    background:#676f9d; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
  }

.work3:hover{
    background:#676f9d; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
  }

.projects{
    background-position: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border-style: groove;
    background-color:rgb(85, 136, 179);
    margin-left: 20px;
    margin-right: 20px;

}
.head-1-pro{
    font-family: Manrope;
    border: #676f9d;
    background-color:#676f9d;
    border-radius: 30px;
    height: 150px;
}

.head-1-pro:hover{
    background:#2d3250; 
    transition: all 0.3s ease;
    transform: scale(1.1); 

}

.head-2-pro:hover{
    background:#2d3250; 
    transition: all 0.3s ease;
    transform: scale(1.1); 

}

.head-3-pro:hover{
    background:#2d3250; 
    transition: all 0.3s ease;
    transform: scale(1.1); 

}

.head-2-pro{
    font-family: Manrope;
    border:#424769;
    background-color:#424769;
    border-radius: 30px;
    height: 150px;
}

.head-3-pro{
    font-family: Manrope;
    border: #676f9d;
    background-color:#676f9d;
    border-radius: 30px;
    height: 150px;
}

.volunteering-whole{
    align-items: center;
}

.volunteeringA{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.volunteering1{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 5px;
    height: 90px;
    text-align:center;
}

.body-volunteer1{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 300px;
    height: 90px;
    text-align:center;
}

.volunteeringB{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.volunteering2{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 300px;
    height: 90px;
    text-align:center;
}

.body-volunteer2{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 300px;
    height: 90px;
    text-align:center;
}

.volunteeringC{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.volunteering3{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 300px;
    height: 90px;
    text-align:center;
}

.body-volunteer3{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 300px;
    height: 90px;
    text-align:center;
}

.volunteeringD{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.volunteering4{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 300px;
    height: 90px;
    text-align:center;
}

.body-volunteer4{
    flex: 1;
    font-family: Manrope;
    border:#2d3250;
    background-color:#2d3250;
    border-radius: 30px;
    padding-top: 20px;
    width: 100px;
    height: 90px;
    text-align:center;
}

.volunteering1:hover.body-volunteer1{
    background:#424769; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
    display: block;
}

.volunteering2:hover.body-volunteer2{
    background:#424769; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
    display: block;
}

.volunteering3:hover.body-volunteer3{
    background:#424769; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
    display: block;
}

.volunteering4:hover.body-volunteer4{
    background:#424769; 
    transition: all 0.3s ease;
    transform: scale(1.1); 
    display: block;
}

.date{
    flex: 1;
    align-items: right;
}

.skill-div{
    height: 70%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    color: #2d3250;
}
.set1{
    display: flex;
}

.set1-1{
    flex: 1;
    margin-left: 80px;
}
.set1-1-1{
    text-align: center;
    width: 400px;
    padding-top:  20px;
    padding-bottom: 20px;
    height: 30px;
    border: 0px  #2d3250;
    background-color: #2d3250;
    border-radius: 40px;
}

.set1-1-1:hover{
    background:#f9b17a; 
    transition: all 0.3s ease;
    display: flex;
}
.image1{
    flex: 1;
}
.text1{
    flex: 2;
}

.set1-2{
    flex: 1;
    margin-left: 80px;
}

.set1-2-1{
    text-align: center;
    width: 400px;
    padding-top:  20px;
    padding-bottom: 20px;
    height: 30px;
    border: 0px  #2d3250;
    background-color: #2d3250;
    border-radius: 40px;
}
.set1-2-1:hover{
    background:#f9b17a; 
    transition: all 0.3s ease;
    display: flex;
}
.image2{
    flex: 1;
}
.text2{
    flex: 2;
}

.set2{
    display: flex;
}
.set2-1{
    flex: 1;
    margin-left: 80px;
}
.set2-1-1{
    text-align: center;
    width: 400px;
    padding-top:  20px;
    padding-bottom: 20px;
    height: 30px;
    border: 0px  #2d3250;
    background-color: #2d3250;
    border-radius: 40px;
}
.set2-1-1:hover{
    background:#f9b17a; 
    transition: all 0.3s ease;
    display: flex;
}
.image3{
    flex: 1;
}
.text3{
    flex: 2;
}

.set2-2{
    flex: 1;
    margin-left: 80px;
}
.set2-2-1{
    text-align: center;
    width: 400px;
    padding-top:  20px;
    padding-bottom: 20px;
    height: 30px;
    border: 0px  #2d3250;
    background-color: #2d3250;
    border-radius: 40px;
}
.set2-2-1:hover{
    background:#f9b17a; 
    transition: all 0.3s ease;
    display: flex;
}

.image4{
    flex: 1;
}
.text4{
    flex: 2;
}
.set3{
    display: flex;
}
.set3-1{
    flex: 1;
    margin-left: 80px;
}
.set3-1-1{
    text-align: center;
    width: 400px;
    padding-top:  20px;
    padding-bottom: 20px;
    height: 30px;
    border: 0px  #2d3250;
    background-color: #2d3250;
    border-radius: 40px;
}
.set3-1-1:hover{
    background:#f9b17a; 
    transition: all 0.3s ease;
    display:flex;
}
.image5{
    flex: 1;
}
.text5{
    flex: 2;
}
.set3-2{
    flex: 1;
    margin-left: 80px;
}
.set3-2-1{
    text-align: center;
    width: 400px;
    padding-top:  20px;
    padding-bottom: 20px;
    height: 30px;
    border: 0px  #2d3250;
    background-color: #2d3250;
    border-radius: 40px;
}
.set3-2-1:hover{
    background:#f9b17a; 
    transition: all 0.3s ease;
    display: flex;
}
.image6{
    flex: 1;
}
.text6{
    flex: 2;
}
.contact{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #ffff;
}

.phone{
    flex: 1;
    margin-left: 80px;
}

.phone-inner:hover{
    background:#f9b17a; 
    transition: all 0.3s ease; 
}

.phone-inner{
    text-align: center;
    align-items: center;
    width: 200px;
    padding: 20px;
    height: 150px;
    border: 2px solid #2980b9;
    background-color: #424769;
    border-radius: 30px;
    border:1px solid;
}

.email{
    flex: 1;
    margin-left: 90px;
}

.email-inner{
    text-align: center;
    align-items: center;
    width: 200px;
    padding: 20px;
    height: 150px;
    border: 2px solid #2980b9;
    background-color: #424769;
    border-radius: 30px;
    border:1px solid;
}

.email-inner:hover{
    background:#f9b17a; 
    transition: all 0.3s ease; 
}

.linkedin{
   flex: 1;
   margin-left: 80px;
}

.linkedin-inner{
    text-align: center;
    align-items: center;
    width: 200px;
    padding: 20px;
    height: 150px;
    border: 2px solid #2980b9;
    background-color: #424769;
    border-radius: 30px;
    border:1px solid;
}

.linkedin-inner:hover{
    background:#f9b17a; 
    transition: all 0.3s ease; 
}

  button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }

  /* Change background color on hover */
  button:hover {
    background-color: #2980b9;
  }
.nav-bar{
    overflow: hidden;
    margin-left:20px;
}

.nav-bar a{
    float: left;
    color:#424769;
    text-align: end;
    padding: 14px;
    text-decoration:solid;
    font-size: 15px; 
}

.nav-bar a:hover{
    color:#f9b17a;  
}

.work1{
   
    }
    @keyframes slideInAnimation {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }/* Continue sliding in from the left */
        100% {
          opacity: 1;
          transform: translateX(0);
            animation-delay: 10s; /* Slide in from the left */
        }
      }
.work2{
        
        }
        @keyframes slideInAnimation {
            0% {
              opacity: 0;
              transform: translateX(-100%);
            }
            25% {
              opacity: 1;
              transform: translateX(0); /* Slide in from the left */
            }
            50% {
              opacity: 1;
              transform: translateX(0); /* Pause at this point for 2 seconds */
            }
            75% {
              opacity: 1;
              transform: translateX(0); /* Continue sliding in from the left */
            }
            100% {
              opacity: 1;
              transform: translateX(0); /* Slide in from the left */
            }
          }

.work3{
           
            }
            @keyframes slideInAnimation {
                0% {
                  opacity: 0;
                  transform: translateX(-100%);
                }
                25% {
                  opacity: 1;
                  transform: translateX(0); /* Slide in from the left */
                }
                50% {
                  opacity: 1;
                  transform: translateX(0); /* Pause at this point for 2 seconds */
                }
                75% {
                  opacity: 1;
                  transform: translateX(0); /* Continue sliding in from the left */
                }
                100% {
                  opacity: 1;
                  transform: translateX(0);
                  animation-play-state: paused; /* Slide in from the left */
                }
              }

.head-1-pro{
                opacity: 0; /* Set initial opacity to 0 for the slide-in effect */
                  transform: translateX(-100%); /* Start off the screen to the left */
                  animation: slideInAnimation 1.5s forwards; /* Apply the slide-in animation */
                }
                @keyframes slideInAnimation {
                    to {
                      opacity: 1;
                      transform: translateX(0); /* Slide in from the left */
                    }
                  }
    
    .head-2-pro{
                    opacity: 0; /* Set initial opacity to 0 for the slide-in effect */
                      transform: translateX(-100%); /* Start off the screen to the left */
                      animation: slideInAnimation 1.5s forwards; /* Apply the slide-in animation */
                    }
                    @keyframes slideInAnimation {
                        to {
                          opacity: 1;
                          transform: translateX(0); /* Slide in from the left */
                        }
                      }

            .head-3-pro{
                        opacity: 0; /* Set initial opacity to 0 for the slide-in effect */
                          transform: translateX(-100%); /* Start off the screen to the left */
                          animation: slideInAnimation 1.5s forwards; /* Apply the slide-in animation */
                        }
                        @keyframes slideInAnimation {
                            to {
                              opacity: 1;
                              transform: translateX(0); /* Slide in from the left */
                            }
                          }